 body {
  background-color: #FFFFFF;
  color: #494D49;
  background-size: cover;
}
textarea {
  resize: none;
  border-radius: 0 !important;
}
@font-face {
  font-family: supermarket;
  src: url(../font/supermarket.ttf);
}
@font-face {
  font-family: sarabun;
  src: url(../font/THSARABUNNEW.TTF);
}

.main.container {
  margin-top: 2em;
}
.main.menu{
  background-color: #FFFFFF;
  border: 1px solid #DDD;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
  z-index: 15 !important;
}
.share{
  position: relative;
}
.share a{
  color: #fff !important;
}
.ui.menu{
  margin: 0;
}
.overlay {
  float: left;
  margin: 0em 3em 1em 0em;
}
.overlay .menu {
  position: relative;
  left: 0;
  transition: left 0.5s ease;
}
.main.menu.fixed {
  background-color: #FFFFFF;
  border: 1px solid #DDD;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
  z-index: 15 !important;
}
.overlay.fixed .menu {
  left: 800px;
}
.text.container .left.floated.image {
  margin: 2em 2em 2em -4em;
}
.text.container .right.floated.image {
  margin: 2em -4em 2em 2em;
}

.ui.footer.segment {
  margin-top: 2em;
  padding: 2em 0em;
}

#owl-demo .item img{
  display: block;
  width: 100%;
  height: auto;
}
.center{
  text-align: center;
}
.box{
  margin-top: 25px;
}
.modal-desc{
  width:100%;
  word-wrap:break-word;
}
.dimmer{
  cursor: pointer;
  z-index: 2;
}
.ui.vertical.divider:before, .ui.vertical.divider:after{
  height: calc(100% );
}
.visible-xs{
  display: none;
}
.color{
  background-color: #F7CA18 !important; 
}
.circle{
  border-radius: 50%;
  height: 50px;
  width: 50px;
  float: right;
  line-height: 45px;
  text-align: center;
  font-size: 2em;
  color: #fff;
}
.description{
  padding-bottom: 20px;
}
#post-page{
  border: none;
  border-bottom:none;
}
.contact-img{ 
  width: 50%;
  margin-bottom: 20px;
}
#contact-card{
  width:60%;
  margin-left: auto;
  margin-right: auto; 
  margin-top: 30px; 
  padding:30px;
  border: 0;
  border-radius: 0;
  box-shadow: none;
  background-color: rgba(255,255,255,0.6);
}
.contact{ 
  padding: 0.5em 0.5em !important;
}
#contact{
  margin-bottom: 50px;
  margin-top: 50px;  
  width: 20%;
  word-wrap: break-word;
}
.masthead .logo.item img {
  margin-right: 1em;
}
.masthead .ui.menu .ui.button {
  margin-left: 0.5em;
}
.masthead h1.ui.header {
  margin-top: 3em;
  margin-bottom: 0em;
  font-size: 5em;
}
.masthead h2 {
  font-size: 1.7em;
  font-weight: normal;
}
.secondary.pointing.menu .toc.item {
  display: none;
}
#pray{
  resize: none;
  width: 100%;
}
.uppic{
  margin-top:5px;
  background-color: rgba(0,0,0,0.08);
  height: 200px;
}
h1{
  font-size: 10em;
  margin:0;
  color: #494D49;
} 
h2{
  font-size: 2.5em !important;
  letter-spacing: 1px;
}
h3{
  font-weight: 400;
  font-size: 2em;
  letter-spacing: 1px;
}
h1,h2,h3,h4,h5,h6{
   font-family: 'Lato', 'Helvetica Neue', sarabun, Helvetica, sans-serif;
}
.content p{
  font-family: 'Lato', 'Helvetica Neue', sarabun, Helvetica, sans-serif;
  font-size: 1.25em;
  }

.cover-read{
  margin-bottom: 50px !important;
  background-image: url('../images/pope-banner.jpg');
  height: 280px;
  background-size: cover;
  background-position: 50% 25%;
}
.post-desc{
  text-align: center;
}
#pub-post{
  vertical-align: center !important;
}
#stat{
  border:1px solid white;
  padding: 20px;
  padding-right: 30px;
  margin-top: 150px;
}
.ccc{
  margin-top: auto;
  margin-bottom: auto;
}
#my-modal h3{
  margin-top: 15px;
}
.navbar-collapse:not(.in){
  display: none;
}
.navbar-default{
  display: none;
}
.intro1{
  width: 60%;
}
.full-img{
  max-width: 100%;
}
.img img{
  border-radius: 50%;
}
.content{
  word-wrap: break-word;
}
.but{
      margin-top: 50px;
    padding: 20px;
    margin-left: 150px;
    margin-right: 150px;
    background-color: #f5f5f5;
}
.example{
  width: 100%;
}
.ex{
  margin-top: 25px !important
}
.content{
  font-size: 1.1em;
  margin: 40px;
  margin-left: 180px;
  margin-right: 180px;
  text-align: justify;
    -moz-tab-size: 16; /* Code for Firefox */
    -o-tab-size: 16; /* Code for Opera 10.6-12.1 */
    tab-size: 16;
}
.name-inside{
  float: right;
  margin-top: 10px;
  font-family: sarabun;
  font-size: 1.4em;
}
@media(max-width: 1199px){
  .intro1{
    width: 100%;
  }
}
@media (max-width: 767px) {
 #section0{
  background-image: url('assets/images/pope-banner.jpg');
  background-size: cover;
  background-position: 75% 50%;
}
.intro1{
  background-color: rgba(255,255,255,0.6);
  padding: 20px;

}
#main-content{
  padding-top: 50px;
}
.fp-controlArrow.fp-next{
  border-width: 15px 0 15px 15px !important;
}
.fp-controlArrow.fp-prev{
  border-width: 15px 15px 15px 0 !important;
}
.max-img{
  max-height: 300px !important;
}
.intro{
  margin-top: 20px;
  padding-left: 15px !important;;
  padding-right: 15px !important;;
}
h1{
  font-size: 2.5em !important;
}
.section0 h1 i{
  top:-10px !important;
  font-size: 30px !important;
}
.intro p{  
  text-align: left !important; 
}
.name{
  font-size: 0.8em !important;
  padding: 0!important;
}

.navbar-default{
  display: block;
}
.navbar{
  margin-bottom: 0;
  position: fixed;
  height: 50px;
  display: block;
  width: 100%;
  text-align: center;
  z-index: 10000;
}
.navbar-collapse{
  background: #fff;
}
.navbar-header{
  display: block;
  background-color: #FFFFFF;
  border: 1px solid #DDD;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
  z-index: 15 !important;
}
.hidden-xs{
  display: none !important;
}
.visible-xs{
  display: block;
}
#cover{
  height: 400px;
}
.ui.fixed.menu {
  display: none !important;
}
.stackable.main.menu{
  display: none !important;
}
}


@media only screen and (max-width: 700px) {  
  .secondary.pointing.menu .item,
  .secondary.pointing.menu .menu {
    display: none;
  }
  .secondary.pointing.menu .toc.item {
    display: block;
  }
  .masthead.segment {
    min-height: 350px;
  }
  .masthead h1.ui.header {
    font-size: 5em;
    margin-top: 1.5em;
  }
  .masthead h2 {
    margin-top: 0.5em;
    font-size: 1.5em;
  }
  #contact-card{
    width: 100%;
    margin-left: 0;
  }
  #contact{
    width: 100%;
  }
}
